.header {
  width: 100%;
  background: #0f172a;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo h2 {
  color: #38bdf8;
  font-size: 24px;
  font-weight: 700;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  transition: 0.3s ease;
}

.nav ul li a:hover {
  color: #38bdf8;
}

.header-btn{
  width: 200px;
}

.header-btn button {
    background: #38bdf8;
    color: #0f172a;
    border: none;
    /* padding: 10px 20px; */
    /* border-radius: 25px; */
    font-weight: bold;
    cursor: pointer;
    width: 10rem;
    transition: 0.3s 
ease;
    /* max-width: 200px; */
}

.header-btn button:hover {
  background: #0ea5e9;
  color: #fff;
}
